#-------------------#
#-----BLACKLIST-----#
#-------------------#

# Ignore all tarballs, if we accidentally make any here
*.tar.*
# Never include licence or key files
*.lic
*.key
*.fik

# Don't take in source directories
src
pkg
